@font-face {
  font-family: 'Antic-Slab-Regular';
  src: url('./AnticSlab-Regular.eot?#iefix') format('embedded-opentype'),
       url('./AnticSlab-Regular.woff') format('woff'),
       url('./AnticSlab-Regular.ttf') format('truetype'),
       url('./AnticSlab-Regular.svg#AnticSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
